
@model Catering.Models.Menuler

@{
    ViewData["Title"] = "MenuGuncelle";
    Layout = "~/Views/Shared/_yonetimtema.cshtml";
}



<h4>Menuleri düzenle</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="MenuGuncelle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MenuId" />
            <div class="form-group">
                <label asp-for="Baslik" class="control-label"></label>
                <input asp-for="Baslik" class="form-control" />
                <span asp-validation-for="Baslik" class="text-danger"></span>
            </div>
            <div class="row">
                <div class=" col-md-6">
                    <label asp-for="Url" class="control-label"></label>
                    <input asp-for="Url" class="form-control" />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                <div class=" col-md-6">

                    <select class="form-control" multiple="multiple" asp-items="ViewBag.sayfalar"
                            id="ddlSayfalar"></select>

                </div>
            </div>
            <div class="form-group">
                <label asp-for="Sira" class="control-label"></label>
                <input asp-for="Sira" class="form-control" />
                <span asp-validation-for="Sira" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UstId" class="control-label"></label>
                <select asp-for="UstId" asp-items="ViewBag.ustmenuler" class="form-control"></select>
                <span asp-validation-for="UstId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aktif" class="control-label"></label>
                <select asp-for="Aktif" class="form-control">
                    <option value="True">
                        Evet
                    </option>
                    <option value="False">
                        Hayır
                    </option>
                </select>
                <span asp-validation-for="Aktif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guncelle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Menuler">Geri Dön</a>
</div>

<!--jquery kullanacam url sağdan sola aktarılsın diye -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#ddlSayfalar").change(function () {
            var id = $(this).children("option:selected").val();
            $('#Url').val("/Home/Index/" + id); //secilen sayfanın id sinin getirilmesi

        });
    });
</script>

